{% extends "base.html" %}

{% block contenido %}
<div class="box">
  <h2>Añade una receta</h2>

  {% if error %}
  <p class="error">{{error}}</p>
  {% endif %}
  
  <form action="add.php" method="post" enctype="multipart/form-data">
    <p><label for="nombre">Nombre</label>
    <input type="text" name="nombre" required></p>
    <p><label for="tipo">Tipo</label>
    <select name="tipo">
      <option value="Entrante">Entrante</option>
      <option value="Primero">Primero</option>
      <option value="Segundo">Segundo</option>
      <option value="Postre">Postre</option>
    </select></p>
    <p><label for="ing">Ingredientes (separados por comas)</label>
    <textarea name="ing" rows="2" cols="60" required></textarea></p>
    <p><label for="ela">Elaboración</label>
    <textarea name="ela" rows="10" cols="60" required></textarea></p>
    <p><label for="tiempo">Tiempo</label>
    <input type="text" name="tiempo" required></p>
    <p><label for="img">Imagen</label>
    <input type="file" name="img" required></p>
    <input type="submit" value="Guardar">
  </form>
</div>
{% endblock %}