<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>RicoRico</title>
  <base href="/lab/recetario-php/">
  <link rel='stylesheet' href="./static/css/style.css">
</head>
<body>
  <h1><a href="index">RicoRico</a></h1>

  <div class="userinfo">
    {% if session.id %}
    Bienvenido <span class="user">{{session.user}}</span> | <a href="logout">Salir</a>
    {% else %}
    <a href="login">Entrar</a> | <a href="register">Registrarse</a>
    {% endif %}
    | <a href="search">Buscar</a>
  </div>

  {% if session.id %}
  <div class="addreceta"><a href="add">Añadir receta</a></div>
  {% endif %}

  {% block contenido %}{% endblock %}
</body>
</html>