{% extends "base.html" %}

{% block contenido %}
<div class="receta">
  <h2>{{receta.nombre}}</h2>
  <h3><a href="#">{{receta.tipo}}</a></h3>
  <p class="tiempo">Preparación: {{receta.tiempo}} | Añadida: {{receta.fecha_creacion}}</p>

  {% if session.id and session.id == receta.userid_id or session.id == 1 %}
  <div class="admin">
    <a href="edit/{{receta.id}}"><img src="static/images/edit.png"></a>
    <a href="delete/{{receta.id}}"><img src="static/images/delete.png"></a>
  </div>
  {% endif %}

  <ul class="ingre">
    {% for i in ingredientes %}
    <li>{{i.nombre}}</li>
    {% endfor %}
  </ul>
  <img class="img" src="static/{{receta.imagen}}">
  <p class="ela">{{receta.elaboracion}}</p>
</div>
{% endblock %}