{% extends "base.html" %}

{% block contenido %}
<div class="box">
  <h2>Edita la receta</h2>

  {% if error %}
  <p class="error">{{error}}</p>
  {% endif %}
  
  <form action="edit.php" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{datos.receta.id}}">
    <p><label for="nombre">Nombre</label>
    <input type="text" name="nombre" value="{{datos.receta.nombre}}" required></p>
    <p><label for="tipo">Tipo</label>
    <select name="tipo">
      {% for tipo in datos.tipos %}
      {{tipo|raw}}
      {% endfor %}
    </select></p>
    <p><label for="ing">Ingredientes (separados por comas)</label>
    <textarea name="ing" rows="2" cols="60" required>{{datos.ingredientes}}</textarea></p>
    <p><label for="ela">Elaboración</label>
    <textarea name="ela" rows="10" cols="60" required>{{datos.receta.elaboracion}}</textarea></p>
    <p><label for="tiempo">Tiempo</label>
    <input type="text" name="tiempo" value="{{datos.receta.tiempo}}" required></p>
    <p><label for="img">Imagen</label>
    <input type="file" name="img"></p>
    <input type="submit" value="Guardar">
  </form>
</div>
{% endblock %}