{% extends "base.html" %}

{% block contenido %}
{% if recetas %}
  <ul class="recetas">
  {% for receta in recetas %}
    <li>
      <div class="img"><img class="img" src="static/{{receta.imagen}}"></div>
      <h2><a href="detail/{{receta.id}}">{{receta.nombre}}</a></h2>
      <h3><a href="#">{{receta.tipo}}</a></h3><p>Preparación: {{receta.tiempo}} | Añadida: {{receta.fecha_creacion|date("d/m/Y")}}</p>

      {% if session.id and session.id == receta.userid_id or session.id == 1 %}
      <div class="admin">
        <a href="edit/{{receta.id}}"><img src="static/images/edit.png"></a>
        <a href="delete/{{receta.id}}"><img src="static/images/delete.png"></a>
      </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <div class="norecetas">No hay recetas :(</div>
{% endif %}
{% endblock %}