{% extends "base.html" %}

{% block contenido %}
<div class="box">
  <h2>Registrarse</h2>

  {% if error %}
  <p class="error">{{error}}</p>
  {% endif %}
  
  <form action="register.php" method="post">
    <p><label for="user">Usuario</label>
    <input type="text" name="user" required></p>
    <p><label for="pass">Contraseña</label>
    <input type="password" name="pass" required></p>
    <input type="submit" value="Registrarse">
  </form>
</div>
{% endblock %}