{% extends "base.html" %}

{% block contenido %}
<div class="box">
  <h2>Buscar</h2>

  {% if error %}
  <p class="error">{{error}}</p>
  {% endif %}
  
  <form action="search.php" method="post">
    <p><label for="nombre">Nombre</label>
    <input type="text" name="nombre"></p>
    <p><label for="tipo">Tipo</label>
    <select name="tipo">
      <option value="all">Todos</option>
      <option value="Entrante">Entrante</option>
      <option value="Primero">Primero</option>
      <option value="Segundo">Segundo</option>
      <option value="Postre">Postre</option>
    </select></p>
    <p><label for="ing">Ingrediente</label>
    <select name="ing">
      <option value="all">Todos</option>
      {% for ingrediente in ingredientes %}
      <option value="{{ingrediente}}">{{ingrediente}}</option>
      {% endfor %}
    </select></p>
    <p><label for="autor">Autor</label>
    <select name="autor">
      <option value="all">Todos</option>
      {% for autor in autores %}
      <option value="{{autor}}">{{autor}}</option>
      {% endfor %}
    </select></p>
    <input type="submit" value="Buscar">
  </form>
</div>
{% endblock %}